<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{
            margin: 33px;border: 1px solid #ccc; padding: 11px;
        }
        table td{
            border: 1px solid #ccc;
            padding: 3px 6px;
            width: 222px;
            overflow: hidden;
        }
        .the_form{
            margin: 33px;
            padding: 11px;
            border: 1px solid #ccc; padding: 11px;
        }
        .the_form input{
            padding: 3px 6px;
        }
    </style>

</head>
<body>
<!--引入公共部分-->
{% include 'index.html' %}

<form action="/query" class="the_form" method="post" >
        {% csrf_token %}
        <input type="text" name="a_name" class="form-control" placeholder="请输入用户名">
        <input type="submit" value="增加" class="btn btn-primary">
    </form>
<hr>
<table>
    <tr>
        <td>ID</td>
        <td>用户名</td>
        <td>操作</td>
    </tr>
    {% for athlete in list %}
        <tr>
            <td>{{athlete.id}}</td>
            <td>{{athlete.name}}</td>
            <td><a href="/delete/?id={{athlete.id}}" class="btn btn-danger btn-sm">删除</a></td>
        </tr>
    {% endfor %}
</table>


</body>
</html>
